# Ignore configuration files that may contain sensitive information.
settings*.php

# Ignore paths that contain user-generated content.
modules/contrib
modules/contrib/*
.DS_Store
files
files/*
private
