# Ignore configuration files that may contain sensitive information.
settings*.php

*.sql

# Ignore paths that contain user-generated content.
modules/contrib
modules/contrib/*
.DS_Store
private
error_log
