/**
 * gladstone gladstone.css
 *
 * Use this file to add your custom styles.
 *
 */

html, body {
	background-color:transparent;
}
 
html {
	background: url('../images/bg-page.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
 	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../images/bg-page.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg-page.jpg', sizingMethod='scale')";
}
#columns {
	background-color:transparent;
}

.panel-pane,
.content-inner .block,
.not-panel .content-inner .block,
.not-panel .sidebar .block,
#page-title {
	padding: 20px;
	margin-bottom:20px;
}

.content-inner .block {
	margin: 0;
	padding: 0;
}

.not-panel #content,
.panel-col-main,
.sidebar .block,
.sidebar .panel-pane,
.maintenance-page #main-content,
.region-sidebar-first .content-inner {
	background-color: #d7d0cc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-khtml-border-radius: 5px; /* for old Konqueror browsers */
	border-radius: 5px; /* future proofing */
}

.sidebar-first .content-inner
.panel-page .region-content,
.not-panel #content,
.panel-col-main {
		-moz-border-radius-topleft:0px;
		-webkit-border-top-left-radius:0px;
		-moz-border-radius-topright:0px;
		-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	
}
.sidebar-first .content-inner {
	margin-left:0;
}

#content-column, 
.region-sidebar-first, 
.region-sidebar-second,
.pane-title {
	margin-bottom: 20px;
	margin-top: 0;
}

form {
	height: 100%;
	overflow: auto;
}

.fieldset-wrapper .form-item:first-child,
.container-inline-date,
.form-item {
	float: left;
}

.fieldset-wrapper .form-item:first-child,
.form-item {
	margin: 20px;
}

/*
 * Blocks
 ------------------------------------------------------------------------------------------------------------------------------- */

#main-content .pane-page-tabs, 
.pane-page-tabs ul {
	border-bottom-width:0px;
	background-color:transparent;
}

.pane-page-tabs a,
.pane-page-tabs a:visited {
  background: #e6e4e2 url(/sites/all/themes/sky/css/images/ui/ui-bg_highlight-soft_90_e6e4e2_1x100.png) 50% 50% repeat-x;
  border: 1px solid #e6e4e2;
    border-width:1px;
  border-bottom-color: #bbb;
  border-right-color: #bbb;
  color: #000;
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em 1em;
  margin: 0 0.5em 0 0;
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.pane-page-tabs a:hover,
.pane-page-tabs a:focus,
.pane-page-tabs a:active {
  background: #d6d4d1 url(/sites/all/themes/sky/css/images/ui/ui-bg_highlight-soft_50_d6d4d1_1x100.png) 50% 50% repeat-x;
  border: 1px solid #e1dedb;
  border-width:1px;
  border-bottom-color: #aaa;
  border-right-color: #aaa;
  color: #000;
  cursor: pointer;
}

/*
 *Typography
 ------------------------------------------------------------------------------------------------------------------------------- */
body.bf-a, .bf-a .form-text, 
.snf-a #site-name, 
.ssf-a #site-slogan, 
.ptf-a #page-title, 
.ntf-a .article-title, 
.ctf-a .comment-title, 
.btf-a .block-title,
#site-name, 
#site-slogan,
#page-title, 
.article-title,
.comment-title,
.block-title,
h1, h2, h3, h4, h5, h6 {
	font-family: 'League Gothic', sans-serif;
	text-transform: uppercase;
}

.snf-a #site-name,
h1#page-title {
	font-size: 3em;
}

hr {
	border: 0px dotted white;
	height: 1px;
	border-top-width: 2px;
	margin: 0 -20px;
}


.panel-pane.pane-taxonomy-slideshow {
	margin:0px
}

.panel-pane.pane-taxonomy-slideshow .views-slideshow-pager-field-item {
	float:left
}