
.panel-2col-stacked-responsive { 
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-stacked-responsive .panel-col-top,
.panel-2col-stacked-responsive .panel-col-bottom { 
  width: 99.9%; 
  clear: both;
}

.panel-2col-stacked-responsive .panel-col-first,
.panel-2col-stacked-responsive .panel-col-last { 
  float: left; 
  width: 50%; 
}

/* Tablet landscape one-col */

@media only screen and (max-width:768px) {
	.panel-2col-stacked-responsive .panel-col-first,
	.panel-2col-stacked-responsive .panel-col-last {
		width: 100%;
	}
}
/* Standard layout three-col-right */
@media only screen and (min-width:769px) {
	.panel-2col-stacked-responsive .panel-col-first,
	.panel-2col-stacked-responsive .panel-col-last {
		width: 50%%;
	}
}